<!DOCTYPE html>
<html ng-app="app" ng-strict-di>
<head>
    <title>KPMG Webkik</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="@Model.RootUrl" />
    <link rel="shortcut icon" href="favicon.ico">
    <link href="@Model.VersionUrl("wwwroot/dist/vendor.css")" rel="stylesheet" />
    <link href="@Model.VersionUrl("wwwroot/dist/styles/bootstrap-datepicker3.min.css")" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="wwwroot/dist/styles/primeng/omega/theme.css" />
	<link rel="stylesheet" type="text/css" href="wwwroot/dist/styles/primeng/primeng.min.css" />


    <script src="@Model.VersionUrl("wwwroot/dist/vendor.js")"></script>
</head>

<body>
    <app>Loading...</app>

    <script src="@Model.VersionUrl("wwwroot/dist/main-client.js")"></script>
</body>
</html>